<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/title %>
</head>
<body class="container">

<header>
    <% include ../views/partials/navegacao %>
</header>

<main>
    <div class="jumbotron">
        <h1>Emissão de Ordem de Serviço</h1>
        <p>Módulo para emissão de ordem de serviço</p>
        <a href="https://github.com/leindecker/ordemServico" target="_blank" class="btn btn-info" role="button">Github</a>
    </div>
</main>

<footer>
    <%include ../views/partials/rodape %>
</footer>

</body>
</html>
