<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/title %>
</head>
<body class="container">

<header>
    <% include ../views/partials/navegacao %>
</header>

<main>
    <div class="jumbotron">
        <h2>Sobre o aluno</h2>
        <p>Guilherme Leindecker dos Santos</p>
        <p>Sistemas para Interner - Frameworks / API's</p>
    </div>
</main>

<footer>
    <%include ../views/partials/rodape %>
</footer>

</body>
</html>
