<div id ="clientesGridEl" class="panel panel-default" ng-init="getClientes()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;"
class="glyphicon glyphicon-list"> </span> Clientes</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Nome</th>
        <th>Contato</th>
        <th>Automóvel</th>
			  <th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="cliente in clientes">
			  <td id="nomeCliente-ngRepeat">{{ cliente.nome }}</td>
        <td id="contatoCliente-ngRepeat">{{ cliente.contato }}</td>
        <td id="automovelCliente-ngRepeat">{{ cliente.automovel }}</td>
			  <td>
			    <a href="#/{{cliente._id}}/visualizarCliente" class="btn btn-info"> Visualizar Cliente  </a>
			    <a href="#/{{cliente._id}}/editarCliente" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Editar  </a>
			  	<a id="deletaClienteBtn" ng-click="deletarCliente(cliente._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Deletar </a>
			  </td>
			</tr>
			</tbody>
		</table>
    <div>
<div>
