<div class="panel panel-default" ng-init="visualizarCliente()">
	<div class="panel-heading">
	  <p class="panel-title"> Informações do cliente</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Nome: {{ cliente.nome }}</label>
		 <label class="form-control">Email: {{ cliente.email }}</label>
		 <label class="form-control">Endereco: {{ cliente.endereco }}</label>
		 <label class="form-control">Contato: {{ cliente.contato }}</label>
		 <label class="form-control">Automovel: {{ cliente.automovel }}</label>
		 <label class="form-control">ID: {{ cliente._id }}</label>
		<a href="#/listarCliente" class="btn btn-default"> Voltar</a>
		</div>
	</form>
    <div>
<div>
